<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Ordered History</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="icon" th:href="@{/resource/rating/images/toyshop.png}">

    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->

    <!-- bootstrap -->
    <link th:href="@{/resource/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resource/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet">

    <link th:href="@{/resource/themes/css/bootstrappage.css}" rel="stylesheet"/>

    <!-- global styles -->
    <link th:href="@{/resource/themes/css/flexslider.css}" rel="stylesheet"/>
    <link th:href="@{/resource/themes/css/main.css}" rel="stylesheet"/>

    <!--Table-->
    <link th:href="@{/resource/table/style.css}" rel="stylesheet"/>

    <!-- scripts -->
    <script th:src="@{/resource/themes/js/jquery-1.7.2.min.js}"></script>
    <script th:src="@{/resource/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/resource/themes/js/superfish.js}"></script>
    <script th:src="@{/resource/themes/js/jquery.scrolltotop.js}"></script>
    <script th:src="@{/resource/themes/js/main.js}"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<th:block th:replace="/template/topbar :: content"></th:block>

<div id="wrapper" class="container">
    <th:block th:replace="/template/navigation :: content"></th:block>

    <section class="header_text sub">
        <img class="pageBanner" th:src="@{/resource/themes/images/pageBanner.png}" alt="New products" >
        <h4><span>Your Order History</span></h4>
    </section>

    <!--Main Content-->
    <section class="main-content">
        <table>
            <tr>
                <th class="product-name">Product Name</th>
                <th class="quantity">Quantity</th>
                <th class="price">Price</th>
                <th class="order-date">Order Date</th>
                <th class="delivered-date">Delivered Date</th>
                <th class="status">Status</th>
            </tr>
            <th:block th:each="order : ${orders}">
                <tr>
                    <td th:text="${order.toy.name}"></td>
                    <td th:text="${order.quantity}"></td>
                    <td th:text="'$' + ${order.quantity * order.toy.price}"></td>
                    <td th:text="${order.orderDate}"></td>
                    <td th:text="${order.deliveredDate}"></td>
                    <td th:text="${order.status}"></td>
                </tr>
            </th:block>
        </table>
    </section>
    <!--End Main Content-->

    <!--Footer-->
    <th:block th:replace="/template/footer :: content"></th:block>
    <!--End Footer-->
</div>

<script th:src="@{/resource/themes/js/common.js}"></script>
<script th:src="@{/resource/themes/js/jquery.flexslider-min.js}"></script>
<script type="text/javascript">
    $(function() {
        $(document).ready(function() {
            $('.flexslider').flexslider({
                animation: "fade",
                slideshowSpeed: 4000,
                animationSpeed: 600,
                controlNav: false,
                directionNav: true,
                controlsContainer: ".flex-container" // the container that holds the flexslider
            });
        });
    });
</script>
</body>
</html>